@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-middle {
    width: 100%;
    height: 580px;
    padding-top: 150px;
    background-image: url("cat2.jpg");
    position: static;
    background-size: cover;
    background-position: center;
}


li, a {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #1b1b1d;
    
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 17px 4%;
    background-color: #1b1b1d;

}

.logo {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    margin-right: auto;
    background-color: #1b1b1d;
}

.logo .start {
    color: #ffff00;
}

.navigation {
    list-style: none;
    background-color: #1b1b1d;

}

.navigation li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation li a {
    transition: all 0.3s ease 0.3s;
}

.navigation li a:hover {
    color: yellow;
}

.btn button {
    padding: 8px 25px;
    background-color: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0.3s;
    outline: none;
}

.btn button :hover {
    background-color: yellow;
}

.label h2 p {
    font-family: "Monsserat", sans-serif;
    color: black;
    position: absolute;
    
}

.btn_buy button{
    padding: 9px 55px;
    background-color: yellow;
    border: none;
    border-radius: 50px;
    outline: none;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%; -50%;);
}

